html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: gold;
    color: #4a629e;
    background-image: linear-gradient(gold, gold, #f15026);
}

#starters {
    background: #f15026;
    color: white;
}

#title {
    width: 80%;
}

#mainCourses {
    background: gold;
    color: white;
}

#desserts {
    background: #f15026;
    color: white;
}

#contact {
    background: gold;
    color: white;
}

.card-img-top {
    max-width: 300px;
    height: 200px;
}

#nav-first-link:hover {
    border-radius: 3px 0 0 3px;
    background-color: #ff592685 !important;
}

#nav-last-link:hover {
    border-radius: 0 3px 3px 0;
    background-color: #ff592685 !important;
}

#second:hover, #third:hover {
    background-color: #ff592685 !important;
}

#thanks {
    padding-left: 20rem;
    padding-right: 20rem;
    color: #384974;
}

#section-starters {
    background-image: linear-gradient(#f15026, #f15026, gold);
}

#section-mainCourses {
    background-image: linear-gradient(gold, gold, #f15026);
}

#section-desserts {
    background-image: linear-gradient(#f15026, #f15026, gold);
}

#section-contact {
    background-image: linear-gradient(gold, gold, #f15026);
}

form {
    padding: 5rem;
}

/* #siteWrapper {margin-top:-80px;}
#siteWrapper nav {height:80px;background:#000;}
#siteWrapper nav.fixed {position:fixed;width:100%;top:0;left:0;} */